.SidePanel {
  position: absolute;
  box-sizing:border-box;
  background-color: #000;
  opacity: 0.5;
  border: solid #cdcdcd 1.5px;
  border-radius: 4px;
  top: 8px;
  right: 8px;
  width: 300px;
  max-width: 400px;
  color: white;
  z-index: 100;
  user-select: none;
}

.SidePanel-title {
  font-weight: bold;
  font-size: 1.2rem;
  vertical-align: middle;
}
