.Video-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.Video {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  overflow-x: hidden;
  position:absolute;
	top:0;
	bottom:0;
}

.Video:hover {
  
}